*{
    margin: 0px;
    padding: 0px;
}

.home{
    padding-top: 100px;
}

h1,h2,h3{
    background-image:linear-gradient(300deg, #eae9e8 80%, #b604f7 100%);
    background-clip: text;
	color: transparent;
    padding-left: 10rem;
}

p{
    width: 50%;
    color: orangered;
    padding-left: 10rem;
}

button{
    margin-left: 10rem;
    background:linear-gradient(300deg, #eae9e8 50%, #b604f7 100%);
    border-radius: 3rem;
    height: 2rem;
    width: 5rem;
}

a{
    color: #b604f7;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 10px;
}

a:hover{
    color: orangered;
}